<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="brain.brain_helmet">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ConnectBluetoothActivity" />

        <service
            android:name=".BluetoothLeService"
            android:enabled="true" />

        <activity android:name=".BLEDeviceControlActivity" />

        <activity android:name=".practiceMapActivity"></activity>

        <meta-data android:name="com.here.android.maps.appid" android:value="onQhDRGEBpQuumGJfVts"/>
        <meta-data android:name="com.here.android.maps.apptoken" android:value="WP0rTVsyP4Wabh-rLOuhwA"/>
        <meta-data android:name="com.here.android.maps.license.key" android:value="YxAKSlS0iuxh8el908aong/JRt1wbOO2i45Kzn4AXhdBAwDB532Nnx3qEXWATbHDqYOMaOSR/gxNbKvjJU02+GIK9NwXLG4u393sQz8r8SBubwJ/vHDO9JLEWGG/y/7C2Gs04lHd00FSoJ6rIJFDLgzzA9kO9Z3MfczsKjgp/NGJQGoC4uY5OyGK8g/SNSfwYv9Eqbs8UlaQGk7UZvaZNMMgRtW3X7F+tvy+YnLIvg+vVOwviKcwHSilzKSuwk16qj5NE76KSQbFIqjp81Dp98aapb/FyKr6184bcIzZnck9H37lSzobVOAOpqypqZYOP+EramAp22JaixItOhPf+W+KnFGr1IFWEY3mNfJN5fr9igRNsP7PHeLjiYg8dqFsr4XEJ+ZVC5AW4RbgKS6ow7N6IuCarKqL89dzbdHk7p72eOR+fMONcJ6ZIfPkr6D65koTpoyAjvZ4rQDH/RmvjQkF90hu6wEEMUmPye1kVAlLKl+sIHHQtYI6avBZUAN+yszyp//YK68nLdtttXfuvN5zj/raD1+D3eosxoAgcNJXJz7Bu1XCj0PypGJeJ3QrW7Pjnl1H6GNZDf03nP0fG99j0PpKll6F0aSkIYw0INWeJefLqzncQxp0KbLxaxzZLjIWbcYkt3dHxceYgE4ef0zomf3aWPd9PjphnnBYOtI="/>








        -<service android:name="com.here.android.mpa.service.MapService" android:label="HereMapService" android:process="global.Here.Map.Service.v3" android:exported="true">


        -<intent-filter>

        <action android:name="com.here.android.mpa.service.MapService.v3"> </action>

    </intent-filter>

    </service>

    </application>


</manifest>