<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="brain.brain_helmet">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ConnectBluetoothActivity" />

        <service
            android:name=".BluetoothLeService"
            android:enabled="true" />

        <activity android:name=".BLEDeviceControlActivity" />

        <activity android:name=".practiceMapActivity"></activity>

        <meta-data
            android:name="com.here.android.maps.appid"
            android:value="t8tabRXzbEXjX1FchQ84" />
        <meta-data
            android:name="com.here.android.maps.apptoken"
            android:value="f3lHDz37TzyyPHmxvMuqJw" />
        <meta-data android:name="com.here.android.maps.license.key"
            android:value="ZQysfQZOLuQT0DNbDm6qOUe2Cx59BMARqX3ra9bxMPlvhwZvZh6iu1cDFt3sPMM1GaewoHMD/vrqANb4jUDRV+3kzpsyCz95UEHivXkBGNair6K3KCrfvD0GCyQ81bfFhr9Dq2C7yYboTaSTA848QK667WIAjdXiADjBSlKCDkUSo5I/2b1KKJmZccpCieBbtbFfi7pAz5oK9KzZhVBUG+hUmsfjLS7Ic1CvMxzQJKVWvXWjA2Q1/E6QHDd+DQte0E1kL/a3xFzAUIpUDyWB7izQx58sygY86lAZYzDpi5x20D9hFFWZNPcTMry6KcVTHHDkWS8KqUvuGBnPPZ54WqMx6B/wlYx27C5sC6e5437cuB7tOTNJ/JKQuEV9xyvm20C8T2fzjVGnMdn/WfufMKYdBd8hTqktDvFKQx4XUAI5H8YeV4PquucUScehdZO3h8UCok5BQe5j8Tt3FDb3WVUkRzdwY/FslrsHoErSOMNB85XLj4kAWzy6SZce1h20/ihFAJgF41wJvM0/3/gjvYwRNUevOGS6yu0hbuVudr8GvqUpJ3jfRtGi4y9FKyvTkvxI0ua6abcRVn9ZBV1edIa7ko+rhiLtCXGdAQOJlqrEF4KgAiEbAF4jFQbEgX+DHxVs3svcrfxrh1IC2F8gv2iUpO0zrJP3VfceAe5UeAs="/>

        <service android:exported="true" android:label="HereMapService" android:name="com.here.android.mpa.service.MapService" android:process="global.Here.Map.Service.v3">
            <intent-filter>
                <action android:name="com.here.android.mpa.service.MapService.v3">
                </action>
            </intent-filter>
        </service>

    </application>

</manifest>